.hw{
    text-align: left;
}

.message {
display: grid;
    grid-template-areas:
            "avatar messageBlock";

    border-width: 1px;
    border-style: solid;
    border-color: #a8a8a8;
    border-radius: 5px;
    margin: 3px;
    width: max-content;
    height: max-content;
    text-align: center;
    background-color: #424242;
    max-height: max-content;

}
.avatar{
    grid-area:avatar ;
    border-width: 1px;
    border-style: solid;
    border-color: #a8a8a8;
    border-radius: 5px;
    margin: 5px;
    max-height: 100px;


}
.img{
    max-height: 100px;

}
.messageBlock{
    grid-area:messageBlock ;
    display: grid;
    grid-template-areas:
            "nickName"
            "quickMessageBlock";
    grid-template-rows: 1fr 2fr;

    border-width: 1px;
    border-style: none;
    border-color: #a8a8a8;
    border-radius: 5px;

    padding: 5px;
    margin: 3px;
    max-height: 100px;
}
.nickName{
    grid-area:nickName ;

    border-width: 1px;
    border-style: none;
    border-color: #a8a8a8;
    border-radius: 5px;

    padding: 5px;
    margin: 3px;

    background-color: #424242;

    color: white;
    text-align: left;
    font-size: larger;
}

.quickMessageBlock{
    grid-area: quickMessageBlock;
    display: grid;
    grid-template-areas: "quickMessage date";
    border-width: 1px;
    border-style: none;
    border-color: #a8a8a8;
    border-radius: 5px;
    margin: 3px;


}
.quickMessage{
    grid-area:quickMessage ;

    border-width: 1px;
    border-style: none;
    border-color: #a8a8a8;
    border-radius: 5px;

    padding: 10px;
    margin: 3px;

    background-color: #676666;
    color: white;
    font-size: large;

}
.date{
    grid-area: date;
    border-width: 1px;
    border-style: none;
    border-color: #a8a8a8;
    border-radius: 5px;

    background-color: #676666;
    padding: 10px;
    margin: 3px;
    color: white;

}