.superInputDefault {
    color: #050505;
    background-color: #fafafa;
}

.errorInputDefault {
    border: 1px solid #ff0000;
    background: #ffffff;
    color: red;
}

.error {
    color: #ea0808;
    background-color: #ffffff;
}